:root {
    --font-base: 1rem;
    --font-large: 1.5rem;
    --font-header: 2.5rem;
    --content-padding: 2vw;
}

/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: var(--font-base);
    background-color: #eef2f5;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #6c63ff;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: var(--font-header);
    margin: 0;
}
header nav a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-large);
    transition: color 0.3s ease-in-out;
}
header nav a:hover {
    color: #ffcc00;
}

/* Content Block */
.content-block {
    max-width: 800px;
    margin: 120px auto 100px auto; /* Center with offsets for header and footer */
    padding: var(--content-padding);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.content-block h2 {
    color: #6c63ff;
    font-size: var(--font-large);
    margin-bottom: 1rem;
}
.content-block p {
    font-size: var(--font-base);
    color: #555;
    line-height: 1.8;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.image-gallery img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Footer */
footer {
    background-color: #6c63ff;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
